@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/* custom properties */

:root {
  --font: "Poppins", sans-serif;
  --red-color: #dc143c;
  --green-color: #2c5f2d;
}

/* Default css */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: var(--font);
  min-height: 100vh;
  font-size: 2rem;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 20px;
}

/* header section */

.section {
  padding: 1rem 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  flex-grow: 1;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .navbar-logo {
    flex-grow: 1;
    text-align: left;
  }
}

.main-menu {
  display: none;
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  .main-menu {
    display: flex;
  }
}

.menu-link {
  padding: 0.5rem 1rem;
  background-color: var(--green-color);
  color: #fff;
  margin: 0 1rem;
  border-radius: 0.5rem;
}

.menu-link:hover {
  background-color: var(--red-color);
}

.link-active {
  background-color: var(--red-color);
}

.menu-icon {
  color: var(--green-color);
}

@media screen and (min-width: 768px) {
  .menu-icon {
    display: none;
  }
}
